Repository Bombardierzy/sozisel, pull requests merged in 2021-05, with the labels that each got.

#55 [Task #17] Event mutations
  backend/sozisel/lib/sozisel/model/events.ex
  backend/sozisel/lib/sozisel/model/events/event.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel/model/utils.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/hello_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/quiz_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/queries/hello_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/event_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/hello_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_template_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/quiz_types.ex
  backend/sozisel/priv/repo/migrations/20210419115640_create_events.exs
  backend/sozisel/test/sozisel/events_test.exs
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quiz_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/hello_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_mutations_test.exs
  frontend/sozisel-app/src/graphql/mutations/hello.graphql
  frontend/sozisel-app/src/graphql/queries/hello.graphql
Labels: GQL, backend

#56 [Task #18] Templates list view
  .github/workflows/sozisel.yml
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_template_resolvers.ex
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_queries_test.exs
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/MainNavbar/MainNavbar.scss
  frontend/sozisel-app/src/components/MainNavbar/MainNavbar.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplatesList/SearchBar/SearchBar.scss
  frontend/sozisel-app/src/components/TemplatesList/SearchBar/SearchBar.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.scss
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateList.scss
  frontend/sozisel-app/src/components/TemplatesList/TemplateList.tsx
  frontend/sozisel-app/src/graphql/mutations/sessionTemplate.graphql
  frontend/sozisel-app/src/graphql/queries/sessionTemplate.graphql
  frontend/sozisel-app/src/graphql/queries/user.graphql
  frontend/sozisel-app/src/hooks/useAvatarById.ts
  frontend/sozisel-app/src/hooks/useMyId.ts
  frontend/sozisel-app/src/index.scss
  frontend/sozisel-app/src/index.tsx
  frontend/sozisel-app/src/styles/color.scss
  frontend/sozisel-app/src/styles/spacing.scss
  frontend/sozisel-app/src/styles/styles.scss
Labels: backend, frontend

#60 [Task #29] Sessions mutation
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/events.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_question.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel/model/sessions/session.ex
  backend/sozisel/lib/sozisel_web.ex
  backend/sozisel/lib/sozisel_web/error_view.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/middlewares/authorization.ex
  backend/sozisel/lib/sozisel_web/schema/middlewares/resource_authorization.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/quiz_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/session_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/session_template_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_queries.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_template_queries.ex
  backend/sozisel/lib/sozisel_web/schema/queries/user_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/event_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_template_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/hello_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/mix.exs
  backend/sozisel/mix.lock
  backend/sozisel/priv/repo/migrations/20210506182113_add_session_schedule_time.exs
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/sessions/session_mutations_test.exs
  backend/sozisel/test/support/factory.ex
  frontend/sozisel-app/src/graphql/subscriptions/hello.graphql
Labels: GQL, backend

#61 [Task #30] Session queries
  backend/sozisel/TODO.txt
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/sessions/session_queries_test.exs
Labels: GQL, backend

#79 [Fix] Changed schedules status
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
Labels: GQL, backend

#66 [Task #67] Event query
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/quizzes/answer.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_question.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/queries/event_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/event_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/quiz_types.ex
  backend/sozisel/test/sozisel/events_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quiz_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_mutations_test.exs
Labels: GQL, backend

#65 [Task #57] Sessions list view
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/test/sozisel_web/schema/sessions/session_queries_test.exs
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.scss
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.scss
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.scss
  frontend/sozisel-app/src/components/SessionsList/SessionsList.tsx
  frontend/sozisel-app/src/graphql/mutations/session.graphql
  frontend/sozisel-app/src/graphql/mutations/sessionTemplate.graphql
  frontend/sozisel-app/src/graphql/mutations/sesstionTemplate.graphql
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/hooks/useSessionStatus.ts
  frontend/sozisel-app/src/model/Session.ts
  frontend/sozisel-app/src/styles/color.scss
Labels: frontend

#80 [Fix] Add id to quizQuestions
  backend/sozisel/lib/sozisel/model/quizzes/quiz.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_question.ex
  backend/sozisel/lib/sozisel_web/schema/types/quiz_types.ex
  backend/sozisel/test/sozisel/events_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quiz_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_mutations_test.exs
Labels: GQL, backend

#82 [Task #9] Jitsi integration
  backend/.jitsi_env
  backend/sozisel/config/config.exs
  backend/sozisel/lib/sozisel/jitsi_token_generator.ex
  backend/sozisel/lib/sozisel_web/schema/queries/user_queries.ex
  backend/sozisel/lib/sozisel_web/schema/types/user_types.ex
  backend/sozisel/mix.exs
  backend/sozisel/mix.lock
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/Jitsi/JitsiFrame.tsx
  frontend/sozisel-app/src/components/Jitsi/JitsiShowcaseScreen.scss
  frontend/sozisel-app/src/components/Jitsi/JitsiShowcaseScreen.tsx
  frontend/sozisel-app/src/components/JitsiFrame.tsx
  frontend/sozisel-app/src/components/MainNavbar/MainNavbar.tsx
  frontend/sozisel-app/src/graphql/queries/user.graphql
Labels: backend, frontend

#81 [Task #20] Added quiz customization component
  backend/sozisel/lib/sozisel_web/schema/types/session_template_types.ex
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/common/consts.ts
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.scss
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Agenda/Agenda.tsx
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntryCreation/AgendaEntryCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/Schemas.ts
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsList.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/Question/Question.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/Question/Question.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/QuizEvent.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/QuizEvent.tsx
  frontend/sozisel-app/src/components/TemplateCreation/ModuleList/ModuleList.scss
  frontend/sozisel-app/src/components/TemplateCreation/ModuleList/ModuleList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Question/Question.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Question/Question.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/QuestionsList/QuestionsList.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/QuestionsList/QuestionsList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.tsx
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.tsx
  frontend/sozisel-app/src/components/TemplatesList/SearchBar/SearchBar.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateList.tsx
  frontend/sozisel-app/src/contexts/Event/EventContext.tsx
  frontend/sozisel-app/src/contexts/Event/eventReducer.ts
  frontend/sozisel-app/src/contexts/Quiz/QuizContext.tsx
  frontend/sozisel-app/src/contexts/Quiz/quizReducer.ts
  frontend/sozisel-app/src/contexts/Template/TemplateContext.scss
  frontend/sozisel-app/src/contexts/Template/TemplateContext.tsx
  frontend/sozisel-app/src/graphql/mutations/quiz.graphql
  frontend/sozisel-app/src/graphql/mutations/sessionTemplate.graphql
  frontend/sozisel-app/src/graphql/queries/sessionTemplate.graphql
  frontend/sozisel-app/src/index.tsx
  frontend/sozisel-app/src/model/Template.ts
  frontend/sozisel-app/src/styles/color.scss
  frontend/sozisel-app/src/styles/styles.scss
  frontend/sozisel-app/src/styles/text.scss
Labels: frontend

#64 [Task #23] Schema for event results
  backend/sozisel/lib/sozisel/model/event_results.ex
  backend/sozisel/lib/sozisel/model/event_results/event_result.ex
  backend/sozisel/lib/sozisel/model/events/event.ex
  backend/sozisel/lib/sozisel/model/participants.ex
  backend/sozisel/lib/sozisel/model/participants/participant.ex
  backend/sozisel/lib/sozisel/model/quizzes/participant_answer.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_result.ex
  backend/sozisel/lib/sozisel/model/quizzes/track_node.ex
  backend/sozisel/priv/repo/migrations/20210513080450_create_participants.exs
  backend/sozisel/priv/repo/migrations/20210513120646_create_event_results.exs
  backend/sozisel/test/sozisel/event_results_test.exs
  backend/sozisel/test/sozisel/participants_test.exs
  backend/sozisel/test/support/factory.ex
Labels: backend

#83 [Task #70] Live session participants presence
  backend/sozisel/lib/sozisel/application.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web.ex
  backend/sozisel/lib/sozisel_web/channels/session_participant_presence.ex
  backend/sozisel/lib/sozisel_web/presence.ex
  backend/sozisel/lib/sozisel_web/user_socket.ex
  frontend/sozisel-app/.eslintrc.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/apolloClient.ts
  frontend/sozisel-app/src/components/Jitsi/JitsiFrame.tsx
  frontend/sozisel-app/src/components/LiveSession/LiveSession.scss
  frontend/sozisel-app/src/components/LiveSession/LiveSession.tsx
  frontend/sozisel-app/src/contexts/ApolloProviderWrapper.tsx
  frontend/sozisel-app/src/contexts/PhoenixSocketContext.tsx
  frontend/sozisel-app/src/hooks/useLiveSessionParticipation.ts
Labels: backend

#85 [Task #28] Edition of session template
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/Jitsi/JitsiShowcaseScreen.scss
  frontend/sozisel-app/src/components/Jitsi/JitsiShowcaseScreen.tsx
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.scss
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/RegisterScreen/RegisterScreen.scss
  frontend/sozisel-app/src/components/RegisterScreen/RegisterScreen.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.scss
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.tsx
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntry/AgendaEntry.scss
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntry/AgendaEntry.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/QuizEvent.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.tsx
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.scss
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.tsx
Labels: frontend

#84 [Task #58] Session details view
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/SessionDetails/CreateSession.scss
  frontend/sozisel-app/src/components/SessionDetails/CreateSession.tsx
  frontend/sozisel-app/src/components/SessionDetails/EditSession/EditSession.scss
  frontend/sozisel-app/src/components/SessionDetails/EditSession/EditSession.tsx
  frontend/sozisel-app/src/components/SessionDetails/OverviewListElement/OverviewListElement.scss
  frontend/sozisel-app/src/components/SessionDetails/OverviewListElement/OverviewListElement.tsx
  frontend/sozisel-app/src/components/SessionDetails/SessionDetails/SessionDetails.scss
  frontend/sozisel-app/src/components/SessionDetails/SessionDetails/SessionDetails.tsx
  frontend/sozisel-app/src/components/SessionDetails/TemplateOverview/TemplateOverview.scss
  frontend/sozisel-app/src/components/SessionDetails/TemplateOverview/TemplateOverview.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.scss
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.tsx
  frontend/sozisel-app/src/graphql/mutations/session.graphql
  frontend/sozisel-app/src/graphql/queries/session.graphql
Labels: frontend

#86 Fix validation quiz question length
  backend/sozisel/lib/sozisel/model/quizzes/quiz.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_question.ex
  backend/sozisel/test/sozisel/events_test.exs
Labels: bug

#88 [Task #70] Sessions subscriptions
  backend/sozisel/lib/sozisel/model/launched_events/launched_event.ex
  backend/sozisel/lib/sozisel/model/participants.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_result.ex
  backend/sozisel/lib/sozisel_web/context.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/helpers.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/authorization.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/changeset_error_translator.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/resource_authorization.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/subscription.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/subscriptions/participant.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/subscriptions/presenter.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/event_subscriptions.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/topics.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_result_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/participant_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/quiz_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/lib/sozisel_web/user_socket.ex
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/support/absinthe_case.ex
Labels: backend

#89 [Task #22] Add default user in backend seeds.
  backend/sozisel/priv/repo/seeds.exs
  frontend/sozisel-app/src/common/consts.ts
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
Labels: backend, frontend

#91 [Task #71] Join session screen
  backend/sozisel/lib/sozisel_web/schema/queries/session_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/test/sozisel_web/schema/sessions/session_queries_test.exs
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/AboutScreen/AboutScreen.tsx
  frontend/sozisel-app/src/components/Jitsi/JitsiShowcaseScreen.tsx
  frontend/sozisel-app/src/components/JoinSession/JoinSession.scss
  frontend/sozisel-app/src/components/JoinSession/JoinSession.tsx
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/Navbar/BasicNavbar/BasicNavbar.scss
  frontend/sozisel-app/src/components/Navbar/BasicNavbar/BasicNavbar.tsx
  frontend/sozisel-app/src/components/Navbar/LoginNavbar/Navbar.scss
  frontend/sozisel-app/src/components/Navbar/LoginNavbar/Navbar.tsx
  frontend/sozisel-app/src/components/Navbar/MainNavbar/MainNavbar.scss
  frontend/sozisel-app/src/components/Navbar/MainNavbar/MainNavbar.tsx
  frontend/sozisel-app/src/components/RegisterScreen/RegisterScreen.tsx
  frontend/sozisel-app/src/components/SessionDetails/CreateSession.tsx
  frontend/sozisel-app/src/components/SessionDetails/EditSession/EditSession.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.scss
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.tsx
  frontend/sozisel-app/src/components/TemplatesList/SearchBar/SearchBar.scss
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateList.tsx
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/styles/color.scss
Labels: frontend

#90 [Task #76] Endpoint for uploading session recordings
  backend/sozisel/config/config.exs
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/session_recordings.ex
  backend/sozisel/lib/sozisel/model/session_recordings/session_recording.ex
  backend/sozisel/lib/sozisel_web/endpoint.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/session_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/priv/repo/migrations/20210529140516_create_session_recordings.exs
  backend/sozisel/test/assets/test_recording.mp4
  backend/sozisel/test/sozisel/session_recordings_test.exs
  backend/sozisel/test/sozisel_web/schema/session_recordings/session_recording_mutations_test.exs
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/apolloClient.ts
  frontend/sozisel-app/src/components/SessionRecordingUpload/SesisonRecordingUpload.tsx
  frontend/sozisel-app/src/components/SessionRecordingUpload/SessionRecordingUpload.scss
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntryCreation/AgendaEntryCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.tsx
  frontend/sozisel-app/src/graphql/mutations/session.graphql
  frontend/sozisel-app/src/index.tsx
Labels: backend, enhancement
