Repository Bombardierzy/sozisel, pull requests merged in 2021-06, with the labels that each got.

#93 [Task #68] Participant mutations
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/participant.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/participant_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/queries/participant_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/participant_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/participant_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/quiz_types.ex
  backend/sozisel/test/sozisel_web/schema/participants/participant_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/participants/participant_queries_test.exs
  backend/sozisel/test/support/factory.ex
Labels: GQL, backend

#94 [Task #72] Added agenda view
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/PresenterSession/Agenda/Agenda.scss
  frontend/sozisel-app/src/components/PresenterSession/Agenda/Agenda.tsx
  frontend/sozisel-app/src/components/PresenterSession/PresenterSession.scss
  frontend/sozisel-app/src/components/PresenterSession/PresenterSession.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Question/Question.tsx
  frontend/sozisel-app/src/components/TemplatesList/SearchBar/SearchBar.scss
  frontend/sozisel-app/src/components/TemplatesList/TemplateList.tsx
  frontend/sozisel-app/src/contexts/Quiz/quizReducer.ts
  frontend/sozisel-app/src/graphql/mutations/session.graphql
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/styles/color.scss
Labels: frontend

#98 [Fix] Updated participants presence to use participant schema
  backend/sozisel/lib/sozisel_web/channels/session_participant_presence.ex
  frontend/sozisel-app/src/apolloClient.ts
  frontend/sozisel-app/src/common/consts.ts
  frontend/sozisel-app/src/components/JoinSession/JoinSession.tsx
  frontend/sozisel-app/src/components/LiveSession/LiveSession.tsx
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/Navbar/MainNavbar/MainNavbar.tsx
  frontend/sozisel-app/src/graphql/mutations/session.graphql
  frontend/sozisel-app/src/hooks/useLiveSessionParticipation.ts
  frontend/sozisel-app/src/hooks/useSessionParticipantType.ts
Labels: backend, frontend

#96 [Task #69] Add presenter mutations
  backend/sozisel/lib/sozisel/model/events.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/presenter_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/presenter_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/event_subscriptions.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/session_subscriptions.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/topics.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/presenters/presenter_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/sessions/session_subscriptions_test.exs
Labels: GQL, backend

#99 [Task #72] Added participants list view
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/PresenterSession/ParticipantsList/ParticipantsList.scss
  frontend/sozisel-app/src/components/PresenterSession/ParticipantsList/ParticipantsList.tsx
  frontend/sozisel-app/src/components/PresenterSession/PresenterSession.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.scss
  frontend/sozisel-app/src/components/TemplateCreation/Agenda/Agenda.scss
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.scss
  frontend/sozisel-app/src/styles/text.scss
Labels: frontend

#97 [Task #74] Participant quiz component
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/Guards/AuthGuard.tsx
  frontend/sozisel-app/src/components/Guards/ParticipantGuard.tsx
  frontend/sozisel-app/src/components/Jitsi/JitsiFrame.tsx
  frontend/sozisel-app/src/components/Jitsi/JitsiShowcaseScreen.scss
  frontend/sozisel-app/src/components/JoinSession/JoinSession.tsx
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizEvent.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizEvent.tsx
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizQuestion/ParticipantQuizQuestion.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizQuestion/ParticipantQuizQuestion.tsx
  frontend/sozisel-app/src/components/ParticipantActiveSession/ParticipantActiveSession.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/ParticipantActiveSession.tsx
  frontend/sozisel-app/src/components/SessionDetails/CreateSession.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.tsx
  frontend/sozisel-app/src/contexts/ParticipantQuiz/ParticipantQuizContext.tsx
  frontend/sozisel-app/src/contexts/ParticipantQuiz/ParticipantQuizReducer.ts
  frontend/sozisel-app/src/graphql/mutations/quiz.graphql
  frontend/sozisel-app/src/graphql/queries/participant.graphql
  frontend/sozisel-app/src/hooks/useCountdownTimer.ts
  frontend/sozisel-app/src/styles/color.scss
Labels: frontend

#92 [Task #77] Session result view
  backend/sozisel/lib/sozisel/jitsi_token_generator.ex
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/priv/repo/seeds.exs
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/support/factory.ex
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/assets/fonts/OFL.txt
  frontend/sozisel-app/src/assets/fonts/Poppins-Bold.ttf
  frontend/sozisel-app/src/assets/fonts/Poppins-ExtraBold.ttf
  frontend/sozisel-app/src/assets/fonts/Poppins-Medium.ttf
  frontend/sozisel-app/src/assets/fonts/Poppins-Regular.ttf
  frontend/sozisel-app/src/common/consts.ts
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizQuestion/ParticipantQuizQuestion.tsx
  frontend/sozisel-app/src/components/SessionDetails/CreateSession.tsx
  frontend/sozisel-app/src/components/SessionDetails/EditSession/EditSession.tsx
  frontend/sozisel-app/src/components/SessionRecordingUpload/SesisonRecordingUpload.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResult.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultHeader.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultHeader.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultScreen.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultScreen.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SessionResultSummary.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SessionResultSummary.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SummaryDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/TotalAreaChart.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.tsx
  frontend/sozisel-app/src/components/TemplatesList/SearchBar/SearchBar.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateList.tsx
  frontend/sozisel-app/src/contexts/ParticipantQuiz/ParticipantQuizContext.tsx
  frontend/sozisel-app/src/contexts/ParticipantQuiz/ParticipantQuizReducer.ts
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/graphql/queries/sessionResults.graphql
  frontend/sozisel-app/src/styles/color.scss
  frontend/sozisel-app/src/styles/text.scss
Labels: frontend

#102 [Fix] Fixed launched events uniqueness and bumped elixir version
  .github/workflows/sozisel.yml
  .tool-versions
  backend/sozisel/lib/sozisel/model/launched_events.ex
  backend/sozisel/lib/sozisel/model/launched_events/launched_event.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/presenter_resolvers.ex
  backend/sozisel/mix.exs
  backend/sozisel/priv/repo/migrations/20210612115758_launched_event_unique_index.exs
  backend/sozisel/priv/repo/seeds.exs
  backend/sozisel/test/sozisel/launched_events_test.exs
  backend/sozisel/test/sozisel_web/schema/presenters/presenter_mutations_test.exs
  backend/sozisel/test/support/polymorphic_strategy.ex
Labels: backend

#100 [Task #73] Participant session
  backend/sozisel/lib/sozisel/model/events.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/JoinSession/JoinSession.tsx
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizEvent.tsx
  frontend/sozisel-app/src/components/ParticipantActiveSession/ParticipantActiveSession.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/ParticipantActiveSession.tsx
  frontend/sozisel-app/src/components/PresenterSession/ActiveSessionAgenda/ActiveSessionAgenda.scss
  frontend/sozisel-app/src/components/PresenterSession/ActiveSessionAgenda/ActiveSessionAgenda.tsx
  frontend/sozisel-app/src/components/PresenterSession/ParticipantsList/ParticipantsList.scss
  frontend/sozisel-app/src/components/PresenterSession/PresenterSession.scss
  frontend/sozisel-app/src/components/PresenterSession/PresenterSession.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionFilters/SessionFilters.tsx
  frontend/sozisel-app/src/components/utils/Alerts/ErrorAlert.scss
  frontend/sozisel-app/src/components/utils/Alerts/ErrorAlert.tsx
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/graphql/subscriptions/session.graphql
Labels: frontend
