Repository Bombardierzy/sozisel, pull requests merged in 2021-04, with the labels that each got.

#14 [Task #8] CI pipeline
  .github/workflows/sozisel.yml
  frontend/sozisel-app/.gitignore
  frontend/sozisel-app/codegen_file.yml
  frontend/sozisel-app/package.json
  frontend/sozisel-app/src/apolloClient.ts
  frontend/sozisel-app/src/components/JitsiFrame.tsx
  frontend/sozisel-app/src/components/Test.tsx
Labels: devops

#21 [Task #4, #5] Session schema
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel/model/sessions/agenda_entry.ex
  backend/sozisel/lib/sozisel/model/sessions/session.ex
  backend/sozisel/lib/sozisel/model/sessions/template.ex
  backend/sozisel/priv/repo/migrations/20210402115540_create_users.exs
  backend/sozisel/priv/repo/migrations/20210417092809_create_session_templates.exs
  backend/sozisel/priv/repo/migrations/20210417094019_create_agenda_entries.exs
  backend/sozisel/priv/repo/migrations/20210417094340_create_sessions.exs
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/support/factory.ex
Labels: backend

#26 [Task #6, #7] Event schema, Quiz and QuizQuestion embedded schema
  backend/sozisel/lib/sozisel/events.ex
  backend/sozisel/lib/sozisel/model/events/event.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_question.ex
  backend/sozisel/lib/sozisel/model/sessions/template.ex
  backend/sozisel/mix.exs
  backend/sozisel/mix.lock
  backend/sozisel/priv/repo/migrations/20210419115640_create_events.exs
  backend/sozisel/test/sozisel/events_test.exs
  backend/sozisel/test/sozisel_web/schema/user/user_queries_test.exs
  backend/sozisel/test/support/factory.ex
  backend/sozisel/test/support/polymorphic_ecto.ex
  backend/sozisel/test/support/polymorphic_strategy.ex
Labels: backend

#27 [Task #15] Session templates query
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel/model/sessions/template.ex
  backend/sozisel/lib/sozisel/model/utils.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_template_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_template_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_template_types.ex
  backend/sozisel/priv/repo/migrations/20210417092809_create_session_templates.exs
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_queries_test.exs
  backend/sozisel/test/support/factory.ex
Labels: GQL, backend

#31 [Task-19] Templates creation view
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/HomePage/HomePage.tsx
  frontend/sozisel-app/src/components/MainNavbar/MainNavbar.scss
  frontend/sozisel-app/src/components/MainNavbar/MainNavbar.tsx
  frontend/sozisel-app/src/components/Navbar/Navbar.scss
  frontend/sozisel-app/src/components/TemplateCreation/Agenda/Agenda.scss
  frontend/sozisel-app/src/components/TemplateCreation/Agenda/Agenda.tsx
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntry/AgendaEntry.scss
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntry/AgendaEntry.tsx
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntryCreation/AgendaEntryCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntryCreation/AgendaEntryCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/ModuleList/ModuleList.scss
  frontend/sozisel-app/src/components/TemplateCreation/ModuleList/ModuleList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.tsx
  frontend/sozisel-app/src/graphql/mutations/sesstionTemplate.graphql
  frontend/sozisel-app/src/graphql/queries/user.graphql
  frontend/sozisel-app/src/index.scss
  frontend/sozisel-app/src/index.tsx
  frontend/sozisel-app/src/model/Agenda.ts
  frontend/sozisel-app/src/styles/color.scss
  frontend/sozisel-app/src/styles/styles.scss
  frontend/sozisel-app/webpack.config.js
Labels: frontend
