Repository Bombardierzy/sozisel, pull requests merged in 2021-11, with the labels that each got.

#174 [Task #168, #170] Unify event deletion mutations
  backend/sozisel/lib/sozisel/model/quizzes/quiz_result.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/event_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/poll_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/quiz_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/whiteboard_mutations.ex
  backend/sozisel/test/sozisel_web/schema/events/polls/poll_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quizzes/quiz_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/events/whiteboards/whiteboard_mutations_test.exs
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventList.tsx
  frontend/sozisel-app/src/graphql/mutations/event.graphql
  frontend/sozisel-app/src/graphql/mutations/poll.graphql
  frontend/sozisel-app/src/graphql/mutations/quiz.graphql
  frontend/sozisel-app/src/graphql/mutations/whiteboard.graphql
Labels: refactor

#179 [Task #173] Fixed uploading file with the same name
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/common/consts.ts
  frontend/sozisel-app/src/components/Files/FileChooser/FileChooser.scss
  frontend/sozisel-app/src/components/Files/FileChooser/FileChooser.tsx
  frontend/sozisel-app/src/components/Files/Files.tsx
Labels: bug, frontend

#180 [Task #178] Fixed join session as a guest while being logged in
  frontend/sozisel-app/src/components/JoinSession/JoinSession.tsx
Labels: bug, frontend

#164 [Task #78] Deployment setup
  .github/workflows/deploy.yml
  .github/workflows/sozisel.yml
  backend/sozisel/.dockerignore
  backend/sozisel/Dockerfile
  backend/sozisel/config/config.exs
  backend/sozisel/config/dev.exs
  backend/sozisel/config/prod.exs
  backend/sozisel/config/prod.secret.exs
  backend/sozisel/config/runtime.exs
  backend/sozisel/lib/sozisel/media_storage/disk.ex
  backend/sozisel/lib/sozisel_web/endpoint.ex
  backend/sozisel/lib/sozisel_web/router.ex
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/participants/participant_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_recordings/session_recording_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_resources/session_resource_mutations_test.exs
  backend/sozisel/test/support/absinthe_case.ex
  deploy/jitsi-compose.yml
  deploy/prod-docker-compose.yml
  frontend/sozisel-app/.dockerignore
  frontend/sozisel-app/Dockerfile
  frontend/sozisel-app/codegen.yml
  frontend/sozisel-app/nginx.conf
  frontend/sozisel-app/package.json
  frontend/sozisel-app/src/apolloClient.ts
  frontend/sozisel-app/src/components/Files/FileCard/FileCard.tsx
  frontend/sozisel-app/src/components/Jitsi/JitsiFrame.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/MainContent/MainContent.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/SessionRecordingAnnotatedPlayer.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/SessionRecordingPublicPlayer.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/utils/Url/getUrl.ts
  frontend/sozisel-app/src/components/utils/Urls/urls.tsx
  frontend/sozisel-app/src/contexts/PhoenixSocketContext.tsx
  router/Dockerfile
  router/app.conf
Labels: devops

#181 [Task #168] Script for module generation - backend
  backend/sozisel/.formatter.exs
  backend/sozisel/lib/mix/tasks/template.ex
  backend/sozisel/lib/sozisel/model/event_results/event_result.ex
  backend/sozisel/lib/sozisel/model/events/event.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_result_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_types.ex
  backend/sozisel/templates/event_model.ex
  backend/sozisel/templates/event_mutations.ex
  backend/sozisel/templates/event_result_model.ex
  backend/sozisel/templates/event_types.ex
Labels: backend

#184 [Fix] Incorrect calculations with average points in quiz rezults
  backend/sozisel/lib/sozisel/model/quizzes/quiz_result.ex
  backend/sozisel/test/sozisel/events/quizzes/quiz_summary_test.exs
Labels: bug, backend

#182 [Fix] Fix some random bugs
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.scss
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimeline/LiveEventDetails/PollLiveEventDetails/PollLiveEventDetails.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimeline/LiveEventDetails/QuizLiveEventDetails/QuizLiveEventDetails.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimeline/LiveEventDetails/WhiteboardLiveEventDetails/WhiteboardLiveEventDetails.tsx
  frontend/sozisel-app/src/components/SessionMenu/SessionMenu.scss
  frontend/sozisel-app/src/components/SessionMenu/SessionMenu.tsx
  frontend/sozisel-app/src/components/TemplateCreation/AgendaEntryCreation/AgendaEntryCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/Modules/Quiz/Question/Question.tsx
  frontend/sozisel-app/src/components/utils/Input/ErrorMessage.scss
  frontend/sozisel-app/src/components/utils/LatexText/LatexText.scss
  frontend/sozisel-app/src/components/utils/LatexText/LatextText.tsx
  frontend/sozisel-app/src/hooks/useFetchEventLiveResult/useFetchEventLiveResult.ts
Labels: bug, refactor

#188 [Task #185] Fixed frontend bugs
  backend/sozisel/lib/sozisel_web/schema/queries/session_resource_queries.ex
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/AboutScreen/AboutScreen.scss
  frontend/sozisel-app/src/components/AboutScreen/AboutScreen.tsx
  frontend/sozisel-app/src/components/Files/ParticipantSessionFiles/ParticipantSessionFiles.tsx
  frontend/sozisel-app/src/components/SessionMenu/SessionMenu.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/PollResultDetails/PollResultDetails.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultDetails.scss
  frontend/sozisel-app/src/components/TemplatesList/SearchBar/SearchBar.tsx
  frontend/sozisel-app/src/components/utils/Alerts/ErrorAlert.scss
  frontend/sozisel-app/src/graphql/queries/files.graphql
Labels: bug, frontend

#189 [Task #187] Fix frontend bugs
  frontend/sozisel-app/src/components/AboutScreen/AboutScreen.scss
  frontend/sozisel-app/src/components/Files/Files.tsx
  frontend/sozisel-app/src/components/Files/PresenterSessionFiles/PresenterSessionFiles.tsx
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.scss
  frontend/sozisel-app/src/components/PresenterSession/ParticipantsList/ParticipantsList.tsx
  frontend/sozisel-app/src/components/RegisterScreen/RegisterScreen.scss
  frontend/sozisel-app/src/components/SessionDetails/CreateSession.scss
  frontend/sozisel-app/src/components/SessionDetails/CreateSession.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionsList.tsx
  frontend/sozisel-app/src/components/utils/Input/ErrorMessage.scss
Labels: bug, frontend
