Repository Bombardierzy/sozisel, pull requests merged in 2021-10, with the labels that each got.

#159 [Task #152] Presenter teaching materials upload/download
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/session_resource_links.ex
  backend/sozisel/lib/sozisel/model/session_resources.ex
  backend/sozisel/lib/sozisel/model/session_resources/session_resource.ex
  backend/sozisel/lib/sozisel/model/session_resources_sessions/session_resource_link.ex
  backend/sozisel/lib/sozisel/model/sessions/session.ex
  backend/sozisel/lib/sozisel/model/users/user.ex
  backend/sozisel/lib/sozisel_web/endpoint.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/session_resource_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_resource_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resource_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_resource_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/user_types.ex
  backend/sozisel/priv/repo/migrations/20210930175424_create_session_resources.exs
  backend/sozisel/priv/repo/migrations/20210930181329_create_session_resource_link.exs
  backend/sozisel/test/assets/test_session_resource.pdf
  backend/sozisel/test/sozisel/session_resource_links_test.exs
  backend/sozisel/test/sozisel/session_resources_test.exs
  backend/sozisel/test/sozisel_web/schema/session_resources/session_resource_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_resources/session_resource_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/users/user_queries_test.exs
  backend/sozisel/test/support/factory.ex
Labels: backend, GQL

#172 [Task #162] Sozisel card
  frontend/sozisel-app/src/components/Files/FileCard/FileCard.tsx
  frontend/sozisel-app/src/components/Files/ParticipantSessionFiles/ParticipantSessionFiles.tsx
  frontend/sozisel-app/src/components/Files/PresenterSessionFiles/PresenterSessionFiles.tsx
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.scss
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/Navbar/BasicNavbar/BasicNavbar.scss
  frontend/sozisel-app/src/components/Navbar/LoginNavbar/Navbar.scss
  frontend/sozisel-app/src/components/Navbar/MainNavbar/MainNavbar.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/PollEvent/ParticipantPollEvent.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/PollEvent/ParticipantPollEvent.tsx
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizEvent.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizEvent.tsx
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/WhiteboardEvent/ParticipantWhiteBoard.scss
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/WhiteboardEvent/ParticipantWhiteboardEvent.tsx
  frontend/sozisel-app/src/components/PresenterSession/ActiveSessionAgenda/ActiveSessionAgenda.scss
  frontend/sozisel-app/src/components/PresenterSession/ActiveSessionAgenda/ActiveSessionAgenda.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/EventsTimeline.tsx
  frontend/sozisel-app/src/components/PresenterSession/ParticipantsList/ParticipantsList.scss
  frontend/sozisel-app/src/components/PresenterSession/ParticipantsList/ParticipantsList.tsx
  frontend/sozisel-app/src/components/PresenterSession/PresenterSession.tsx
  frontend/sozisel-app/src/components/RegisterScreen/RegisterScreen.scss
  frontend/sozisel-app/src/components/RegisterScreen/RegisterScreen.tsx
  frontend/sozisel-app/src/components/SessionDetails/SessionDetails/SessionDetails.tsx
  frontend/sozisel-app/src/components/SessionDetails/TemplateOverview/TemplateOverview.scss
  frontend/sozisel-app/src/components/SessionDetails/TemplateOverview/TemplateOverview.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventCard/EventCard.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/PollResultDetails/PollResultDetails.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/PollResultDetails/PollResultDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultDetails.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/DialogUtils/QuizResultDetailsDialog.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/DialogUtils/QuizResultDetailsDialog.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/SessionRecordingAnnotatedPlayer.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/SessionRecordingPublicPlayer.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SessionResultSummary.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SessionResultSummary.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsList.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/EventListElement.tsx
  frontend/sozisel-app/src/components/TemplateCreation/TemplateCreation.tsx
  frontend/sozisel-app/src/components/utils/Card/Card.scss
  frontend/sozisel-app/src/components/utils/Card/Card.tsx
  frontend/sozisel-app/src/components/utils/Card/ShadowBoxCard.scss
  frontend/sozisel-app/src/components/utils/Card/ShadowBoxCard.tsx
  frontend/sozisel-app/src/components/utils/Events/getEventType.ts
  frontend/sozisel-app/src/components/utils/PollPieChart/PollPieChart.tsx
  frontend/sozisel-app/src/components/utils/Url/getUrl.ts
  frontend/sozisel-app/src/styles/styles.scss
Labels: bug, frontend, refactor

#167 [Task #133 ] White board event results
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/LoginScreen/LoginScreen.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/EventsTimeline.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/LiveEventDetails/PollLiveEventDetails/PollLiveEventDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventCard/EventCard.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/EventResultDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/EventDescription/EventDescription.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/EventDescription/EventDescription.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/MainContent/MainContent.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/MainContent/MainContent.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/MainContent/ParticipantsList.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/WhiteboardResultDetails.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/WhiteboardResultDetails/WhiteboardResultDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/TotalAreaChart.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Whiteboard/Whiteboard.tsx
  frontend/sozisel-app/src/components/utils/Alerts/ErrorAlert.scss
  frontend/sozisel-app/src/components/utils/Events/getEventType.ts
  frontend/sozisel-app/src/components/utils/PollPieChart/PollPieChart.scss
  frontend/sozisel-app/src/components/utils/PollPieChart/PollPieChart.tsx
  frontend/sozisel-app/src/components/utils/ScoreChart/ScoreChart.tsx
  frontend/sozisel-app/src/graphql/mutations/whiteboard.graphql
  frontend/sozisel-app/src/graphql/queries/whiteboardResults.graphql
  frontend/sozisel-app/src/hooks/useGetErrorMessage.ts
  frontend/sozisel-app/src/hooks/useGetEventTypeMessage.ts
  frontend/sozisel-app/src/hooks/useGetEventTypename.ts
  frontend/sozisel-app/src/styles/color.scss
  frontend/sozisel-app/src/styles/text.scss
Labels: frontend
