Repository Bombardierzy/sozisel, pull requests merged in 2021-09, with the labels that each got.

#137 [Task #139] Added whiteboard component with shared board capabilities
  backend/sozisel/lib/sozisel/application.ex
  backend/sozisel/lib/sozisel/shared_whiteboard.ex
  backend/sozisel/lib/sozisel_web/channels/shared_whiteboard.ex
  backend/sozisel/lib/sozisel_web/user_socket.ex
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/components/Navbar/MainNavbar/MainNavbar.tsx
  frontend/sozisel-app/src/components/WhiteBoard/Canvas.tsx
  frontend/sozisel-app/src/components/WhiteBoard/CanvasToolbar.tsx
  frontend/sozisel-app/src/components/WhiteBoard/WhiteBoard.tsx
  frontend/sozisel-app/src/components/WhiteBoard/services/CanvasConnector.ts
  frontend/sozisel-app/src/components/WhiteBoard/services/CanvasManager.ts
  frontend/sozisel-app/src/components/WhiteBoard/services/CanvasStateManager.ts
  frontend/sozisel-app/src/components/WhiteBoard/services/ToolbarInteractor.ts
  frontend/sozisel-app/src/components/WhiteBoard/state/canvasMenu.ts
Labels: frontend

#136 Task [#109] Quiz results
  backend/sozisel/lib/sozisel/model/event_results.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema/middleware/resource_authorization.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/test/sozisel/sessions_test.exs
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizQuestion/ParticipantQuizQuestion.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/LiveEventDetails/TextSection.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventCard/EventCard.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/EventResultDetails.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/EventResultDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultDetails.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultDetails.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/Charts/QuizResultChartsView.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/Charts/QuizResultChartsView.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/DialogUtils/QuizResultDetailsDialog.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/DialogUtils/QuizResultDetailsDialog.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/Participants/QuizResultParticipantsView.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/Participants/QuizResultParticipantsView.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/Questions/QuizResultQuestionView.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventResultDetails/Modules/QuizResultDetails/QuizResultViews/Questions/QuizResultQuestionsView.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/SessionResultEvents.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingUpload.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultScreen.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SessionResultSummary.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/TotalAreaChart.tsx
  frontend/sozisel-app/src/components/utils/StatsRow/StatsRow.scss
  frontend/sozisel-app/src/components/utils/StatsRow/StatsRow.tsx
  frontend/sozisel-app/src/components/utils/Table/Table.scss
  frontend/sozisel-app/src/components/utils/Table/Table.tsx
  frontend/sozisel-app/src/components/utils/Typescript/ensure.ts
  frontend/sozisel-app/src/graphql/queries/quizResults.graphql
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/hooks/useFetchEventLiveResult/useFetchQuizLiveResult.ts
  frontend/sozisel-app/src/styles/color.scss
  frontend/sozisel-app/src/styles/spacing.scss
Labels: frontend

#138 [Task #130] Whiteboard event
  backend/sozisel/config/config.exs
  backend/sozisel/lib/sozisel/media_storage/disk.ex
  backend/sozisel/lib/sozisel/model/event_results/event_result.ex
  backend/sozisel/lib/sozisel/model/events/event.ex
  backend/sozisel/lib/sozisel/model/session_recordings/session_recording.ex
  backend/sozisel/lib/sozisel/model/whiteboards/whiteboard.ex
  backend/sozisel/lib/sozisel/model/whiteboards/whiteboard_result.ex
  backend/sozisel/lib/sozisel_web/endpoint.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/participant_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/whiteboard_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/participant_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_result_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/whiteboard_types.ex
  backend/sozisel/priv/repo/migrations/20210529140516_create_session_recordings.exs
  backend/sozisel/test/assets/test_image.png
  backend/sozisel/test/sozisel/events/whiteboard_results_test.exs
  backend/sozisel/test/sozisel/events/whiteboard_test.exs
  backend/sozisel/test/sozisel/session_recordings_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/events/whiteboard_mutation_test.exs
  backend/sozisel/test/sozisel_web/schema/participants/participant_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_recordings/session_recording_mutations_test.exs
  backend/sozisel/test/support/factory.ex
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/graphql/queries/sessionTemplate.graphql
  frontend/sozisel-app/src/graphql/subscriptions/session.graphql
  frontend/sozisel-app/src/model/Template.ts
Labels: backend, GQL

#151 [#Task 131] White board event form component
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/Schemas.ts
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/EventListElement.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Poll/Poll.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Poll/Poll.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Whiteboard/Whiteboard.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Whiteboard/Whiteboard.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Poll/Poll.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Poll/Poll.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Whiteboard/Whiteboard.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Whiteboard/Whiteboard.tsx
  frontend/sozisel-app/src/components/utils/LatexText/LatexText.scss
  frontend/sozisel-app/src/components/utils/LatexText/LatextText.tsx
  frontend/sozisel-app/src/graphql/mutations/whiteboard.graphql
  frontend/sozisel-app/src/styles/text.scss
Labels: frontend

#149 [Task #150] Backend code refactor and fix bugs
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/event_results.ex
  backend/sozisel/lib/sozisel/model/polls/poll.ex
  backend/sozisel/lib/sozisel/model/polls/poll_option.ex
  backend/sozisel/lib/sozisel/model/polls/poll_result.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_result.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/session_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/session_recording_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/queries/poll_queries.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_queries.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_recordings_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/launched_event_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_recording_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/event_subscriptions.ex
  backend/sozisel/lib/sozisel_web/schema/types/poll_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_recording_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/test/sozisel/agenda_entries_test.exs
  backend/sozisel/test/sozisel/events/event_result_test.exs
  backend/sozisel/test/sozisel/events/event_test.exs
  backend/sozisel/test/sozisel/events/launched_events_test.exs
  backend/sozisel/test/sozisel/events/poll_test.exs
  backend/sozisel/test/sozisel/events/polls/poll_results_test.exs
  backend/sozisel/test/sozisel/events/polls/poll_summary_test.exs
  backend/sozisel/test/sozisel/events/polls/poll_test.exs
  backend/sozisel/test/sozisel/events/quizzes/quiz_results_test.exs
  backend/sozisel/test/sozisel/events/quizzes/quiz_summary_test.exs
  backend/sozisel/test/sozisel/events/quizzes/quiz_test.exs
  backend/sozisel/test/sozisel/events/whiteboard_results_test.exs
  backend/sozisel/test/sozisel/events/whiteboards/whiteboard_results_test.exs
  backend/sozisel/test/sozisel/events/whiteboards/whiteboard_test.exs
  backend/sozisel/test/sozisel/session_templates_test.exs
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/sozisel/user_token_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/events/polls/poll_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/events/polls/poll_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quiz_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quizzes/quiz_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quizzes/quiz_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/events/whiteboards/whiteboard_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/participants/participant_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/presenters/presenter_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_recordings/session_recording_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/session_templates/session_template_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/sessions/session_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/sessions/session_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/sessions/session_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/users/user_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/users/user_queries_test.exs
  backend/sozisel/test/support/factory.ex
Labels: bug, backend, GQL, refactor
