Repository Bombardierzy/sozisel, pull requests merged in 2021-08, with the labels that each got.

#120 [Task #119] Polls multi choice
  backend/sozisel/lib/sozisel/model/event_results/event_result.ex
  backend/sozisel/lib/sozisel/model/polls/poll.ex
  backend/sozisel/lib/sozisel/model/polls/poll_result.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/participant_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/poll_types.ex
  backend/sozisel/test/sozisel/events/poll_results_test.exs
  backend/sozisel/test/sozisel/events/poll_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/events/poll_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/participants/participant_mutations_test.exs
  backend/sozisel/test/support/factory.ex
Labels: backend, refactor

#118 [Task #104, #106, #116] Polls
  backend/sozisel/lib/sozisel/model/event_results.ex
  backend/sozisel/lib/sozisel/model/event_results/event_result.ex
  backend/sozisel/lib/sozisel/model/events.ex
  backend/sozisel/lib/sozisel/model/events/event.ex
  backend/sozisel/lib/sozisel/model/polls/poll.ex
  backend/sozisel/lib/sozisel/model/polls/poll_result.ex
  backend/sozisel/lib/sozisel/model/quizzes/answer.ex
  backend/sozisel/lib/sozisel/model/quizzes/participant_answer.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_question.ex
  backend/sozisel/lib/sozisel/model/quizzes/quiz_result.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/participant_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/poll_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/participant_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/presenter_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/event_subscriptions.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/hello_subscriptions.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/topics.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_result_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/poll_types.ex
  backend/sozisel/test/sozisel/events/launched_events_test.exs
  backend/sozisel/test/sozisel/events/poll_results_test.exs
  backend/sozisel/test/sozisel/events/poll_test.exs
  backend/sozisel/test/sozisel/events/quiz_results_test.exs
  backend/sozisel/test/sozisel/events/quiz_test.exs
  backend/sozisel/test/sozisel/sessions_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/events/poll_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/participants/participant_mutations_test.exs
  backend/sozisel/test/sozisel_web/schema/presenters/presenter_mutations_test.exs
  backend/sozisel/test/support/factory.ex
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/EventsTimeline.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/QuizEvent.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.tsx
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/graphql/queries/sessionTemplate.graphql
  frontend/sozisel-app/src/graphql/subscriptions/session.graphql
  frontend/sozisel-app/src/model/Template.ts
Labels: GQL, backend, refactor

#122 [Task #108] Events result list
  README.md
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/test/sozisel/sessions_test.exs
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/EventsTimeline.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventCard/EventCard.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/EventCard/EventCard.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/SessionResultEvents.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/SessionResultEvents.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultScreen.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/TemplatesList/TemplateCard/TemplateCard.tsx
  frontend/sozisel-app/src/components/utils/Avatar/CustomAvatar.tsx
  frontend/sozisel-app/src/graphql/queries/session.graphql
Labels: frontend

#121 [Task #75] Detail event result queries
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/event_results.ex
  backend/sozisel/lib/sozisel/model/quizzes/participant_answer.ex
  backend/sozisel/lib/sozisel/model/sessions.ex
  backend/sozisel/lib/sozisel_web/schema.ex
  backend/sozisel/lib/sozisel_web/schema/queries/event_queries.ex
  backend/sozisel/lib/sozisel_web/schema/queries/quiz_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/event_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/launched_event_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/participant_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/quiz_types.ex
  backend/sozisel/priv/repo/seeds.exs
  backend/sozisel/test/sozisel/events/quiz_results_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  backend/sozisel/test/sozisel_web/schema/events/quizzes/quiz_queries_test.exs
  backend/sozisel/test/sozisel_web/schema/participants/participant_mutations_test.exs
  backend/sozisel/test/support/factory.ex
  frontend/sozisel-app/src/components/ParticipantActiveSession/Modules/QuizEvent/ParticipantQuizEvent.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/EventsTimeline.tsx
  frontend/sozisel-app/src/contexts/ParticipantQuiz/ParticipantQuizReducer.ts
Labels: backend, GQL, refactor

#126 [Task #110] Polls event form component
  backend/docker-compose.yml
  backend/sozisel/priv/repo/seeds.exs
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventCreation.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/EventProperties.ts
  frontend/sozisel-app/src/components/TemplateCreation/EventCreation/Schemas.ts
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventList.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/EventListElement.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/EventListElement.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Poll.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Poll.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/Question.scss
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/Question.tsx
  frontend/sozisel-app/src/components/TemplateCreation/EventsList/EventsListElement/Quiz/QuizEvent.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/EventModuleProps.ts
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Poll/Poll.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Poll/Poll.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.scss
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/Quiz.tsx
  frontend/sozisel-app/src/contexts/Event/eventReducer.ts
  frontend/sozisel-app/src/contexts/Quiz/quizReducer.ts
  frontend/sozisel-app/src/graphql/mutations/poll.graphql
  frontend/sozisel-app/src/graphql/mutations/quiz.graphql
  frontend/sozisel-app/src/index.tsx
Labels: frontend

#128 [Task #107] Session's recording views
  .github/workflows/sozisel.yml
  backend/sozisel/lib/sozisel/media_storage.ex
  backend/sozisel/lib/sozisel/media_storage/disk.ex
  backend/sozisel/lib/sozisel/model/bodyguard.ex
  backend/sozisel/lib/sozisel/model/session_recordings.ex
  backend/sozisel/lib/sozisel/model/session_recordings/annotation.ex
  backend/sozisel/lib/sozisel/model/session_recordings/session_recording.ex
  backend/sozisel/lib/sozisel/model/sessions/session.ex
  backend/sozisel/lib/sozisel/video_processor.ex
  backend/sozisel/lib/sozisel_web/endpoint.ex
  backend/sozisel/lib/sozisel_web/schema/mutations/session_mutations.ex
  backend/sozisel/lib/sozisel_web/schema/queries/session_queries.ex
  backend/sozisel/lib/sozisel_web/schema/resolvers/session_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/session_types.ex
  backend/sozisel/mix.exs
  backend/sozisel/mix.lock
  backend/sozisel/priv/repo/migrations/20210826171821_add_session_recording_annotations.exs
  backend/sozisel/test/sozisel/session_recordings_test.exs
  backend/sozisel/test/sozisel_web/schema/session_recordings/session_recording_mutations_test.exs
  frontend/sozisel-app/.eslintignore
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/App.tsx
  frontend/sozisel-app/src/apolloClient.ts
  frontend/sozisel-app/src/components/Jitsi/JitsiFrame.scss
  frontend/sozisel-app/src/components/Jitsi/JitsiFrame.tsx
  frontend/sozisel-app/src/components/Jitsi/JitsiShowcaseScreen.tsx
  frontend/sozisel-app/src/components/Navbar/LoginNavbar/Navbar.tsx
  frontend/sozisel-app/src/components/SessionRecordingUpload/SesisonRecordingUpload.tsx
  frontend/sozisel-app/src/components/SessionRecordingUpload/SessionRecordingUpload.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResult.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultEvents/SessionResultEvents.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultHeader.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/AnnotationsPanel.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/AnnotationsPanel.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/SessionRecordingAnnotatedPlayer.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/SessionRecordingAnnotatedPlayer.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingAnnotatedPlayer/SessionRecordingPublicPlayer.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingUpload.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionRecordingUpload.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultRecording/SessionResultRecording.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultScreen.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultScreen.tsx
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SessionResultSummary.scss
  frontend/sozisel-app/src/components/SessionResultScreen/SessionResultSummary/SummaryDetails.tsx
  frontend/sozisel-app/src/components/SessionsList/SessionCard/SessionCard.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Poll/Poll.tsx
  frontend/sozisel-app/src/components/utils/Popups/DeleteResourcePopup.scss
  frontend/sozisel-app/src/components/utils/Popups/DeleteResourcePopup.tsx
  frontend/sozisel-app/src/components/utils/Popups/ShareLinkPopup.scss
  frontend/sozisel-app/src/components/utils/Popups/ShareLinkPopup.tsx
  frontend/sozisel-app/src/customUploadFetch.ts
  frontend/sozisel-app/src/graphql/mutations/session.graphql
  frontend/sozisel-app/src/graphql/queries/session.graphql
  frontend/sozisel-app/src/styles/color.scss
  frontend/sozisel-app/src/styles/spacing.scss
  frontend/sozisel-app/src/styles/styles.scss
Labels: frontend, backend

#129 [Task #105] Quiz live results
  backend/sozisel/lib/sozisel_web/schema/resolvers/participant_resolvers.ex
  backend/sozisel/lib/sozisel_web/schema/subscriptions/event_subscriptions.ex
  backend/sozisel/lib/sozisel_web/schema/types/event_result_types.ex
  backend/sozisel/lib/sozisel_web/schema/types/quiz_types.ex
  backend/sozisel/test/sozisel_web/schema/events/event_subscriptions_test.exs
  frontend/sozisel-app/package-lock.json
  frontend/sozisel-app/package.json
  frontend/sozisel-app/public/locales/pl/common.json
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/EventsTimeline.scss
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/EventsTimeline.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/LiveEventDetails/LiveEventDetails.scss
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/LiveEventDetails/LiveEventDetails.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/LiveEventDetails/QuizLiveEventDetails/QuizLiveEventDetails.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/LiveEventDetails/TextSection.tsx
  frontend/sozisel-app/src/components/PresenterSession/EventsTimline/LiveEventDetails/Timer.tsx
  frontend/sozisel-app/src/components/TemplateCreation/Modules/Quiz/QuestionsList/QuestionsList.scss
  frontend/sozisel-app/src/components/utils/ScoreChart/ScoreChart.scss
  frontend/sozisel-app/src/components/utils/ScoreChart/ScoreChart.tsx
  frontend/sozisel-app/src/graphql/queries/quizResults.graphql
  frontend/sozisel-app/src/graphql/subscriptions/session.graphql
  frontend/sozisel-app/src/hooks/useFetchEventLiveResult/useFetchEventLiveResult.ts
  frontend/sozisel-app/src/hooks/useFetchEventLiveResult/useFetchQuizLiveResult.ts
  frontend/sozisel-app/src/styles/text.scss
Labels: frontend
